@mixin button {
  border: none;
  cursor: pointer;
  padding: 1.3rem 3.5rem;
  border-radius: 10% 50%;
  -webkit-border-radius: 10% 50%;
  -moz-border-radius: 10% 50%;
  -ms-border-radius: 10% 50%;
  -o-border-radius: 10% 50%;
}
@mixin media($b-points) {
  @if $b-points == mobile {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $b-points == desktop {
    @media (min-width: 992px) {
      @content;
    }
  }
}
